header{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-image: url(../../assets/images/bg-home.webp);
    background-position: center center;
    background-size: cover;
}