
.bg-lights{
    background-color: #09c;
}

.content-text::before{
    content: '';
    position: absolute;
    width: 35%;
    background-color: #a8a8a83d;
    height: 1px;
}

.content-text::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: #a8a8a83d;
    height: 1px;
}